/*!  new.stellarium.org.css */

@import './basscss@7.1.1.css';
@import './components/Header.css';

/*! basscss overrides */
select:not([multiple]) {
  height: auto;
}
/*!
Box Sizing via http://tachyons.io/docs/layout/box-sizing/
*/
html,
body,
div,
article,
section,
main,
footer,
header,
nav,
form,
fieldset,
pre,
code,
p,
ul,
ol,
li,
dl,
dt,
dd,
textarea,
input[type='email'],
input[type='number'],
input[type='password'],
input[type='tel'],
input[type='text'],
input[type='url'],
.border-box {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    to bottom,
    rgb(108, 114, 126) 0%,
    rgb(67, 68, 73) 80%,
    rgb(61, 62, 66) 100%
  );
}

/* Typography */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.h0 {
  font-size: 3rem;
}

/* flexbox */

.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}
.justify-evenly {
  justify-content: space-evenly;
}
.justify-stretch {
  justify-content: stretch;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-end {
  align-items: flex-end;
}
.align-self-start {
  align-self: flex-start;
}
.align-self-end {
  align-self: flex-end;
}
.shrink0 {
  flex-shrink: 0;
}

/* line height */
.lh0 {
  line-height: 0;
}
.lhp9 {
  line-height: 0.9;
}
.lh1 {
  line-height: 1;
}

.inset-shadow {
  box-shadow: inset 0 0 0 20rem rgba(0, 0, 0, 0.0625);
}

/* hover */
.hover-text-decoration-none:hover {
  text-decoration: none;
}
.hover-inset-shadow:hover {
  box-shadow: inset 0 0 0 20rem rgba(0, 0, 0, 0.0625);
}

/* whitespace */
.pl1 {
  padding-left: 0.5rem;
}
