<header class="mt2 px1">
  <div class="container flex justify-between">

    <div class="flex flex-center shrink0">
      <img src="img/logo.png" class="Header-logo" alt="">
      <div class="ml1">
        <h1 class="Header-title">Stellarium</h1>
        <p class="Header-subtitle">latest version is 0.18.2</p>
      </div>
    </div>

    <ul class="Header-downloads--ul">
      {% for d in site.downloads %}
      <li class="py1 hover-inset-shadow">
        <a href="#" class="black hover-text-decoration-none">
          <div class="flex flex-column flex-center px1">
            {% if d[0] != 'flask' %}
            <i class="Header-downloads--icon fab fa-{{ d[0] }}"></i>
            {% else %}
            <i class="Header-downloads--icon fal fa-flask"></i>
            {% endif %}
            <p class="Header-downloads--text">{{ d[1] }}</p>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>

    <div class="flex">
      <div class="Header-downloads--mobileContainer">
        <button type="button" class="Header-downloads--mobileButton" data-js="mobileButton">
          <div class="flex flex-column flex-center px1">
            <i class="Header-downloads--icon fal fa-download"></i>
            <p class="Header-downloads--text">Downloads <i class="fal fa-caret-down"></i></p>
          </div>
        </button>
        <div class="Header-downloads--mobileButton-dropdownContainer" data-js="mobileButton-dropdownContainer">
          <ul class="Header-downloads--mobileButton-dropdown">
            {% for d in site.downloads %}
            <li class="px1">
              <a href="#" class="Header-downloads--text black">
                {{ d[1] }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <script>
          const ddBtn = document.querySelector('[data-js="mobileButton"]');
          const ddCont = document.querySelector('[data-js="mobileButton-dropdownContainer"]');

          ddCont.addEventListener('mouseenter', function () {
            ddBtn.classList.add('inset-shadow');
          });
          ddCont.addEventListener('mouseleave', function () {
            ddBtn.classList.remove('inset-shadow');
          });
        </script>
      </div>
      <a href="#" class="py1 flex black hover-text-decoration-none hover-inset-shadow">
        <div class="flex flex-column flex-center px1">
          <i class="Header-downloads--icon fal fa-book"></i>
          <p class="Header-downloads--text">User Guide</p>
        </div>
      </a>
    </div>

  </div>
</header>